$concrete:                   #F3F3F3;
$mine-shaft:                 #2B2B2B;
$denim:                      #1473E6;
$silver:                     #CCCCCC;
$mine-shaft--light:          #333333;
$alto:                       #DBDBDB;
$alabaster:                  #F8F8F8;
$shark:                      #25262A;
$french-gray:                #BBBBBD;
$gallery:                    #EFEFEF;
$dusty-gray:                 #999999;
$white-sand:                 #F5F5F5;